@import 'colors';

.button {
   &-solid {

       background: var(--theme-accent);
       color: var(--theme-background);

       &-xs { @extend .button-solid; padding: 0 8px;}
       &-sm { @extend .button-solid; padding: 8px 16px;}
       &-md { @extend .button-solid; padding: 8px 24px;}
       &-lg { @extend .button-solid; padding: 16px 24px;}
       &-xl { @extend .button-solid; padding: 16px 32px;}
       &-2xl { @extend .button-solid; padding: 16px 40px;}

       &:hover, &:focus{
           background: $orange-600;
           box-shadow: var(--shadow-small);
       }
   }
}

.card {
    border: 1px solid;
    border-color: $gray-300;

    &:hover, &:focus{
        border-color: transparent;
        backdrop-filter: blur(20px);
        background: rgba($color: $gray-100, $alpha: 0.2);
        box-shadow: var(--shadow-small);
    }
}

.nav-bg {
    background: var(--theme-background);
    box-shadow: var(--shadow-small);
}